version: "3.8"

services:
  trainer:
    build: .
    volumes:
      - "./Files:/app/Files:rw"
    environment:
      - MPLBACKEND=Agg
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: ["gpu"]
    stdin_open: true
    tty: true
